# ==========================================
# 1. Primary Database (cPanel MySQL / MariaDB)
# ==========================================
DB_HOST=localhost
DB_USER=crm_pallywearcrm
DB_PASSWORD=Pallywear@24
DB_NAME=crm_pallywearcrm
DB_PORT=3306
PORT=3000
SERVER_IP=37.148.202.137

# ==========================================
# 2. Secondary Database (MongoDB Atlas)
# ==========================================
MONGODB_URI=mongodb+srv://pallywearcrm_pallywearcrm:Pallywear%4024@cluster0.jlyidxd.mongodb.net/crm_pallywearcrm?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=crm_pallywearcrm
ENABLE_MONGODB_SYNC=true

# GEMINI_API_KEY: Optional for Gemini AI features
GEMINI_API_KEY="MY_GEMINI_API_KEY"
